.beafutify {
  font-size: 4rem;
  background-color: royalblue;
  color: white;
  font-family: cursive;

  /* layout rules*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
